@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    color: #f5f5f5;
    user-select: none;
    -webkit-user-select: none;
  }
}
